<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cameraDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7728AFC31F7269D700DCF301</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7728AFD71F7269D700DCF301</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7728AFE21F7269D700DCF301</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
